body {
    background-color: rgba(182, 182, 182, 0.58);
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: "amatic";
    src: url(./Fuentes/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: "reenie";
    src: url(./Fuentes/ReenieBeanie-Regular.ttf);
}
@font-face {
    font-family: "ellen";
    src: url(./Fuentes/SueEllenFrancisco-Regular.ttf);
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(116, 116, 116, 0.581);
    background-image: url("./imagenes/fondo.jpg");
    padding: 3em;
}


.iconflex img{
    display: flex;
    float: left;
    justify-content: space-around;
    height: 6vh;
    width: 2.5vw;
    margin-left: 1em;
}

.iconflex {
    display: flex;
    align-items: center;
    margin-left: 65em;
}

.titulo {
    display: flex;
    align-self: center;
    font-family: "ellen";
    font-size: 5rem;
    justify-content: center;
    margin-left: 4em;
}

.subtitulo {
    display: flex;
    align-items: flex-end;
    font-family: "amatic";
    font-size: 2em;
}

.site-content-header {
    background-repeat: repeat;
    background-image: url("./imagenes/fondonegro.jpg");
}

.site-content-header {
    text-align: center;
    padding: 4em;
    background-color: #a0a0a0;
}

h1.title {
    color: rgb(235, 235, 235);
}

.athelier {
    color: rgb(173, 173, 173);
    font-size: 3em;
    font-family: "amatic";
    font-weight:bold;
}

.section {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(116, 116, 116, 0.581);
    background-image: url("./imagenes/fondo.jpg");
    padding: 3em;
}

.copyright {
    justify-content: center;
    align-items: center;
    font-weight:bolder;
}

.obra1:hover {
    border-color: rgb(116, 116, 116);
    border-style:ridge;
}

.obra2:hover {
    border-color: rgb(116, 116, 116);
    border-style:ridge;
}

.obra3:hover {
    border-color: rgb(116, 116, 116);
    border-style:ridge;
}

.obra4:hover {
    border-color: rgb(116, 116, 116);
    border-style:ridge;
}

span{
    font-size: 1em;
    color: rgb(146, 146, 146);
}

.section2 {
    background-repeat: repeat;
    background-image:url("./imagenes/fondonegro.jpg");
}

.explorar{
    display:flex;
    justify-content: center;
    color: white;
    background-image:url("./imagenes/fondonegro.jpg");
    font-family: "amatic";
    font-size: 3em;
    border-style: double;
    padding: 0.5em;
}

.magnify1{
    top: 0%;
    left: 0%;
    transform: translate(50%, 10%);
    display: inline-block;
}

.magnified1{
    width: 625px;
    height: 750px;
    border: solid 5px rgb(30, 30, 30);
    z-index: 10;
}

.magnifier1{
    width: 150px;
    height: 150px;
    position:absolute;
    border: 4px solid  rgb(30, 30, 30);
    background-size: 1000%;
    background-repeat: no-repeat;
    pointer-events: none;
    margin-left: -100px !important;
    margin-top: -100px !important;
    z-index: 20;
}

.acuarela1{
    width: 100%;
    height: 100%;
}

.section3 {
    background-repeat: repeat;
    background-image: url("./imagenes/fondonegro.jpg");
}
.acuarela2{
    width: 100%;
    height: 100%;
}

.magnify2{
    top: 0%;
    left: 0%;
    transform: translate(50%, 20%);
    display: inline-block;
}

.magnified2{
    width: 625px;
    height: 750px;
    border: solid 5px rgb(30, 30, 30);
    z-index: 10;
}

.magnifier2{
    width: 150px;
    height: 150px;
    position:absolute;
    border: 4px solid  rgb(30, 30, 30);
    background-size: 1000%;
    background-repeat: no-repeat;
    pointer-events: none;
    margin-left: -100px !important;
    margin-top: -100px !important;
    z-index: 20;
}

.section4 {
    background-repeat: repeat;
    background-image: url("./imagenes/fondonegro.jpg");
}
.acuarela3{
    width: 100%;
    height: 100%;
}

.magnify3{
    top: 0%;
    left: 0%;
    transform: translate(30%, 75%);
    display: inline-block;
}

.magnified3{
    width: 800px;
    height: 300px;
    border: solid 5px rgb(30, 30, 30);
    z-index: 10;
}

.magnifier3{
    width: 150px;
    height: 150px;
    position:absolute;
    border: 4px solid  rgb(30, 30, 30);
    background-size: 1000%;
    background-repeat: no-repeat;
    pointer-events: none;
    margin-left: -100px !important;
    margin-top: -100px !important;
    z-index: 20;
}

.section5 {
    background-repeat: repeat;
    background-image:url("./imagenes/fondonegro.jpg");
}
.acuarela4{
    width: 100%;
    height: 100%;
}

.magnify4{
    top: 0%;
    left: 0%;
    transform: translate(30%, 40%);
    display: inline-block;
    block-size: 800px;
}

.magnified4{
    width: 800px;
    height: 400px;
    border: solid 5px rgb(30, 30, 30);
    z-index: 10;
}

.magnifier4{
    width: 150px;
    height: 150px;
    position:absolute;
    border: 4px solid  rgb(30, 30, 30);
    background-size: 1000%;
    background-repeat: no-repeat;
    pointer-events: none;
    margin-left: -100px !important;
    margin-top: -100px !important;
    z-index: 20;
}


#btn{
    display: flex;
    justify-content: left;
    background-image: url("./imagenes/fondonegro.jpg");
    color: white;
    font-family: "amatic";
    font-size: 2em;
    margin-right: 87%;
    margin-left: 3%;
    border-style:double;
    padding: 0.5em;
}

#nav1{
    display: flex;
    background-image:url("./imagenes/fondonegro.jpg");
    color: white;
    font-family: "amatic";
    font-size: 2em;
}

#nav2{
    display: flex;
    background-image:url("./imagenes/fondonegro.jpg");
    color: white;
    font-family: "amatic";
    font-size: 2em;
}

#nav3{
    display: flex;
    background-image:url("./imagenes/fondonegro.jpg");
    color: white;
    font-family: "amatic";
    font-size: 2em;
}

#nav4{
    display: flex;
    background-image:url("./imagenes/fondonegro.jpg");
    color: white;
    font-family: "amatic";
    font-size: 2em;
}

#sobremi{
    background-image: url("./imagenes/fondonegro.jpg");
    block-size: 28em;
    margin-top: -2em;
}

.titulosobremi{
    display:flex;
    justify-content: center;
    color: white;
    background-image: url("./imagenes/fondonegro.jpg");
    border-style: double;
    font-family: "amatic";
    font-size: 3em;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.fotomia{
    display: flex;
    position: absolute;
    width: 17vw;
    height: 50vh;
    padding: 0.5em;
    margin-left: 4em;
}

.presentacion{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-left: 17em;
    margin-right: 7em;
    
}

.tituloadquirir{
    display:flex;
    justify-content: center;
    color: white;
    background-image: url("./imagenes/fondonegro.jpg");
    font-family: "amatic";
    font-size: 3em;
    border-style: double;
    padding: 0.5em;
}

.botonadquirir{
    background-image: url("./imagenes/fondonegro.jpg");
    color: white;
    font-family: "amatic";
    font-size: 1.5em;
    border-style:double;
    padding: 0.5em;
}
